body {
  margin: 0;
  padding: 0;
  background-color: #eaf3ff;
}

.header {
  background: #114683; 
  padding: 20px;
  text-align: center;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  height: 80px;
}

.title {
  color: #ffd49e;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.menu-icon img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menu-icon {
    background-color: #ffd49e;
}

.navbar {
  list-style: none;
  position: absolute;
  left: 0;
  top: 163px;
  width: 170px;
  display: none;                     
  flex-direction: column;
  background: #ffd49e;
  overflow: hidden;
}

.navbar.show {
  display: flex;                    
}

.navbar a {
  text-decoration: none;
  color: #153b74;
  padding: 0.8rem 1rem;
  display: block;
}

.navbar a:hover {
  background: #f3f3f3;
}


.contact {
  width: 80%;
  max-width: 900px;
  background: #153b74;
  margin: 50px auto;
  padding: 35px;
  border-radius: 30px;
  color: #ffd49e;
  text-align: center;
}

.contact h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.contact-form {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 20px 15px;
  color: #ffd49e;
  align-items: center;
}

.contact-form label {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 140px;
  resize: none;
}

.submit {
  grid-column: 1 / span 2;
  margin: 20px auto 0;
  width: 50%;
  background: #ffd49e;
  border: none;
  padding: 15px;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #153b74;
  font-weight: bold;
}

.submit:hover{
    background-color: #fceacf;
    color:#114683;
    text-decoration: underline;
}

.introduction{
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  color: #153b74;
}

.introduction h2 {
  font-size: 3.8vw;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.introduction-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-block p {
  font-size: 3vw; 
  line-height: 1.6;
  margin-bottom: 15px;
}

.introduction-content, .introduction-content p {
  font-family: "Vidaloka", serif;
}

.image-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-block img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

footer {
  width: 100%;
  padding: 5px;
  background: #114683;
}

@media screen and (min-width: 900px){
    .menu-icon{
        display: none;
    }
    .navbar {
  background-color: #ffd49e;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: static;
  gap: 120px;
  padding: 15px 0;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 1.4rem;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: #ffd49e;
}


.introduction-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "text img1"
        "img2 img3";
    gap: 30px;
    align-items: start;
}

.text-block { grid-area: text; }
.image1 { grid-area: img1; }
.image2 { grid-area: img2; }
.image3 { grid-area: img3; }

.text-block p {
  font-size: 1.8vw;;
    line-height: 1.8;
}

.image1, .image2, .image3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.image2, .image3 {
    max-height: 350px;
}

.image1 {
    max-height: 450px;
}
}

